<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 20.//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">

<beans>

	<bean id="shapeZero" class = "constructor.dependency.injection.ShapeConstructor"> 
	<constructor-arg>
	<ref bean="pointZero"/>  
	</constructor-arg>   
	</bean>	
	
	<bean id="pointZero" class = "constructor.dependency.injection.PointConstructor">
			<constructor-arg type="int" value="12"></constructor-arg>
			<constructor-arg type="int" value="15"></constructor-arg>
	</bean>		
</beans>
	
			
	
		
	
